@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --c1:#5B4B8A;
    --c2:#A47EB2;
    --c3:#E8A26F;
    --c4:#FFCBA4;
    --c5:#D4B375;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    overflow-x: hidden;
}
.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120deg , var(--c1), var(--c2), var(--c3), var(--c4), var(--c5));
    padding: 1rem 3rem;
}
h1 {
    text-align: center;
    color: aqua;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 10px;
}