@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
    --c1:#5B4B8A;
    --c2:#A47EB2;
    --c3:#E8A26F;
    --c4:#FFCBA4;
    --c5:#D4B375;
}